<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand">Find My Car</div>
    <div class="close pull-right glyphicon glyphicon-remove"></div>
  </div>
</nav>

<div class="container">
  <div class="row row-centered">
    <div class="col-lg-12 col-centered">
      <h2 class="page-header"><%= title %></h2>
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-lg-12 col-centered">
      <img class="img-responsive" src="http://<%= images[0].uri %>/_8.jpg" alt="Auto">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <a href="<%= url %>">Du willst das Auto kaufen?</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Datenblatt</h2>
    </div>
  </div>

  <% _.each(attributes, function(attr) { %>
      <div class="col-xs-2">
        <input id="<%= attr.tag %>" class="pull-right" type="checkbox" name="<%= attr.tag %>" data-value="  <%= attr.dataValue %>"><label class="pull-right" for="<%= attr.tag %>"></label>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="category">
            <%= attr.label %>
          </div>
          <div class="value">
            <b><%= attr.value %></b>
          </div>
        </div>
      </div>
      <hr>
  <% }); %>

  <div class="row">
    <div class="pager">
      <ul>
        <li><a id="next" href="#">Nächstes Auto <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;"></div>
    </div>
  </div>
</div>
