<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand">Find My Car</div>
  </div>
  <div class="close pull-right">X</div>
</nav>

<div class="container">
  <div class="row row-centered">
    <div class="col-lg-12 col-centered">
      <h2 class="page-header"><%= title %></h2>
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-lg-12 col-centered">
      <img class="img-responsive" src="http://<%= images[0].uri %>/_8.jpg" alt="Auto">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Datenblatt</h2>
    </div>
  </div>

  <% _.each(attributes, function(value) { %>
      <div class="row">
        <div class="col-xs-6">
          <p><%= value %></p>
        </div>

        <div class="col-xs-6">
          <input class="pull-right" type="checkbox" value="">
        </div>
      </div>
  <% }); %>

  <div class="row">
    <div class="pager">
      <ul>
        <li><a href="#">Nächstes Auto</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;"></div>
    </div>
  </div>
</div>
