
@import
    "variables",
    "bootstrap",
    "animate"
  ;

html, body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required for fixed navbar */
}

/* Center elements in row */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* Color of navbar */
$bgDefault: #2196F3;
$brandDefault: #FFFFFF;
.navbar {
    background-color: $bgDefault;
    border-color: $bgDefault;
}
.navbar .navbar-brand {
    color: $brandDefault;
}

/* Close */
.close {
  padding: 12px;
  color: white;
  opacity: 0.8;
}

/* Footer */
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:20px;
}

/* Car attributes */
.category {
    color: #9E9E9E;
}
.value {
    font-size: 16px;
}

/* Checkbox */
input[type=checkbox] {
display:none;
}

input[type=checkbox] + label
{
    background: url("../res/unchecked.png") center no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label
{
    background: url("../res/checked.png") center no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0px;
}
