
@import
    "variables",
    "bootstrap",
    "animate"
  ;

body {
    padding-top: 50px; /* Required for fixed navbar */
}

/* Center elements in row */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* Color of navbar */
$bgDefault: #2196F3;
$brandDefault: #FFFFFF;
.navbar {
    background-color: $bgDefault;
    border-color: $bgDefault;
}
.navbar .navbar-brand {
    color: $brandDefault;
}

/* Checkbox */
/*
input[type="checkbox"] {
    opacity:0;
    height: 16px;
    width: 17px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

input[type="checkbox"] + label{
    background-image: url(../res/unchecked.png);
    height: 16px;
    width: 17px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

input[type="checkbox"]:checked + label{
    background-image: url(../res/checked.png);
    height: 16px;
    width: 17px;
    display:inline-block;
    padding: 0 0 0 0px;
}
*/
