
@import
    "variables",
    "bootstrap",
    "animate"
  ;

body {
    padding-top: 50px; /* Required for fixed Navbar */
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
